*{
  box-sizing: border-box;
}
body{
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
  background-color: #F4E1E5;
  color: #4D807C;
}
/* font-family: 'Space Grotesk', sans-serif; */
h1,h2,h3,p{
  margin: 0;
}
a{
  text-decoration: none;
}
.link{
  color: #5F1C1C;
  font-family: inherit;
}
.link:hover{
  text-decoration: underline;
}
.container{
  padding: 2rem 2.5rem;
}
header{
  padding: 1rem 2.5rem;
  display: flex;
  justify-content: space-between;
}
.site-logo{
  font-family: 'Rubik Mono One', monospace;
  text-shadow: -2px 4px #24494f;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #151928;
  color: #abc7dd;
  font-size: 1.2rem;
}
.navbar{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}
.navbar a{
  color: inherit;
}

/*
  HOMEPAGE
*/
.greeting h1{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: #F4E1E5;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #4D807C;

}
/* #abc7dd */
.hero-container{
  /* padding: 2rem 0; */
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.hero-greeting{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.avatar{
  width: 100%;
  height: 60%;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  max-width: 350px;
}
.subtitle{
  font-family: 'Rubik Mono One', monospace;
  color: #D2C193;
  text-shadow: -2px 4px #5F1C1C;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #303030;
}
.text-special{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color:#abc7dd;
  text-shadow: -2px 4px #24494f;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #151928;
}
.social-container{
  display: flex;
  gap: 5px;
  justify-content: center;
}
.social{
  padding: .25rem .5rem;
  background: #4D807C;
  color: #F4E1E5;
  border-radius: 5px;
}

.journey-container{
  margin-bottom: 2rem;
}
.chapter{
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.chapter .description{
  padding: 1rem;
  line-height: 1.5rem;
  background-color: #e2e7ed;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

/* 
QUESTS 
*/

.quests-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quests{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* 
FOOTER 
*/
footer{
  padding: .5rem 0;
  background-color: #4D807C;
  color: #F4E1E5;
  margin-top: 4rem;
}
.footer-content{
  text-align: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

/* ABOUT Page */
.slider{
  border: 1px solid brown;
}

.story-container{
  margin-top: 2rem;
}